@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap');

:root {
	--font-1: 'Poppins', sans-serif;

	--background-1: #ffffff;

	--color-theme: #3991a5;
	--color-grey: #3a4258;
	--background-theme: #3991a5;
	--background-grey: #f0f0f0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-1);
	line-height: 1.4rem;
	background: var(--background-1);
	color: var(--color-grey);
}

.main.theme-dark {
	--background-1: #212121;
	--color-grey: #eaeaea;
	--background-grey: #3a3a3a;
}

.main.theme-blue {
	--background-theme: #3991a5;
	--color-theme: #3991a5;
}

.main.theme-red {
	--background-theme: #e74c3c;
	--color-theme: #e74c3c;
}

.main.theme-green {
	--background-theme: #27ae60;
	--color-theme: #27ae60;
}

.main.theme-taupe {
	--background-theme: #ad8368;
	--color-theme: #ad8368;
}

.main.theme-orange {
	--background-theme: #f96015;
	--color-theme: #f96015;
}

.main.theme-dust {
	--background-theme: #c7b29b;
	--color-theme: #c7b29b;
}

hr {
	margin: 1rem 30px 1rem 30px;
}