@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap');

$font-1: 'Poppins', sans-serif;

$background-1: #dededf;
$background-2: #3a4258;
$background-3: #ffffff;

$background-theme: #3991a5;
$background-grey: #f0f0f0;

$color-1: #1a8dff;
$color-2: #f7f7f7;
$color-3: #3a4258;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-1;
	line-height: 1.4rem;
	background: $background-3;
	color: $color-3;
}
